@model CogentCms.WebAdmin.Models.Blog.BlogIndexView

<table>
    @foreach (var blogPost in Model.BlogPosts)
    {
        <tr>
            <td>@blogPost.BlogPostId</td>
            <td>@blogPost.Title</td>
            <td>@blogPost.Body.Substring(0, Math.Min(blogPost.Body.Length, 250))</td>
        </tr>
    }
</table>