/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END CSS RESEET */

* {
    box-sizing: border-box;
}

body {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;    
}

.container {
    max-width: 760px;
    margin: auto;
    padding: 0px 10px 0px 10px;
}

article {    
    margin: 2em auto 5em auto;
}

article h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0px 0px 0.5em 0px;
}

article .post-meta {
    font-size: 1em;
    margin: 0px 0px 1.5em 0px;
}

article p {
    line-height: 1.5em;
    margin: 0px 0px 1.5em 0px;
}

article a {
    color: #336699;
}

article ul {
    margin: 0px 0px 1.5em 2em;
}

article li {
    line-height: 1.5em;
    list-style-type: disc;
}

@media only screen and (max-width: 759px) {
    .container {
        width: 100%;
    }
}