@model CogentCms.WebPublic.Models.Home.HomeIndexView

@if (Model.BlogPosts.Count == 0)
{
    <h1>Whoops, no blog posts here!</h1>
}
else
{
    foreach (var blogPost in Model.BlogPosts)
    {
        <article>
            <h1>@blogPost.Title</h1>
            <div class="post-meta">
                <span class="publish-date">@blogPost.PublishDate.Value.ToLocalTime().ToLongDateString()</span>
            </div>
            <div>@Html.Raw(blogPost.Body)</div>
        </article>
    }
}