<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/CogentCms.css"/>

    @await Component.InvokeAsync("GoogleAnalyticsTag")
</head>
<body>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
</body>
</html>
